/* Error: Undefined mixin.
 *    ,
 * 16 | /   @include for-large-up {
 * 17 | |     display: flex;
 * 18 | |     flex-direction: column;
 * 19 | |     background: url(img/9193579.png);
 * 20 | |     background-position: center 24px;
 * 21 | \   }
 *    '
 *   styles\index.scss 16:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502  \250c    @include for-large-up {\a 17 \2502  \2502      display: flex;\a 18 \2502  \2502      flex-direction: column;\a 19 \2502  \2502      background: url(img/9193579.png);\a 20 \2502  \2502      background-position: center 24px;\a 21 \2502  \2514    }\a    \2575 \a   styles\\index.scss 16:3  root stylesheet";
}
