@import "./breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000000;
}

.page {
  background: url(img/9193579.png) -457px 0/1057px 555px;
  background-repeat: no-repeat;
  overflow-y: hidden;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    background: url(img/9193579.png);
    background-position: center 24px;
  }
}

.img-two {
  background: url(img/hp-oh-hi.png) -300px 0/1057px 555px;
  
  @include for-large-up {
    background: url(img/hp-oh-hi.png);
    background-size: 1440px 810px;
    background-position: center 24px;
  }
}

@import "./menu.scss";
@import "./header.scss";
@import "./bar.scss";
@import "./btn-icon.scss";
@import "./search.scss";
@import "./register.scss";
@import "./header-navigation.scss";
@import "./body.scss";
@import "./footer.scss";
@import "./social-links.scss";
@import "./hover.scss";
