.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 91%;
  height: 100%;
  background-color: white;
  z-index: 10;
}

.menu-close {
  cursor: pointer;
  font-size: 20px;
}

.menu-show {
  display: flex;

  @include for-large-up {
    display: none;
  }
}

.menu-header {
  display: flex;
  padding-top: 24px;
  padding-left: 16px;
  height: 65px;

  &__title {
    margin-left: 90px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.95px;
  }
}

.menu-navigation {
  width: 100%;

  &__item {
    display: flex;

    justify-content: space-between;
    height: 48px;
    font-weight: 600;
    font-size: 11px;
    width: 100%;
    padding: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: 1px solid #f7f7f7;
  }
}

.menu-footer {
  background: #f7f7f7;
  position: fixed;
  width: 91%;
  bottom: 0;
}
.menu-register {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 108px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}
.menu-store {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  height: 48px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.0833333px;
}

.menu-end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 32px;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.8px;
  background: white;
}

.menu-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #000000;
  &__title {
    padding-left: 16px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  &__icon {
    padding-right: 16px;
  }
  &__link {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.0916667px;
    text-decoration-line: underline;
    padding-right: 16px;
  }
}
.menu-last {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.1px;
  padding: 0; 
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #f7f7f7;
    padding-left:16px;
  }
}
