.search {
  display: none;
  position: absolute;
  top: 57px;
  right: 16px;
  align-items: center;
  width: 91%;
  height: 40px;
  background: #f7f7f724;
  border-radius: 3px;
  &__input {
    border: none;
    outline: none;
    width: 94%;
    cursor: pointer;
    padding-left: 16px;
    background: transparent;

    &::placeholder {
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.8px;
      color: #ffffff;
    }
  }

  @include for-large-up {
    position: relative;
    top:0;
    right: 0;
    display: flex;
    width: 41%;
    height: 48px;
    margin-top: 24px;

    &__input {
      width: 94%;
      padding-left: 16px;
    }
  }
}

.search-show {
  display: flex;
}
